__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
langcache_env/
.env
.DS_Store
node_modules/
/static/
project_notes.txt

# React build artifacts
/build/
/public/build/

# React testing and coverage
/coverage/

# IDE and editor specific files
/.vscode/
/.idea/
*.swp
*.swo
*.swn
*.bak
*.sublime-*