/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a237e;
  /* Primary color: blue */
  color: white;
  padding: 1.5%;
  text-align: center;
}

a {
  font-size: 150%;
}

h1 {
  font-size: 20%;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.centered-text {
  color: #d50000;
  /* Secondary color: red */
  margin-bottom: 1rem;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;

  color: #1a237e;
}

form input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1a237e;
  font-size: 1.2em;
  color: #1a237e;
  background-color: #fff;
  box-shadow: 0 0 5px #1a237e;
  transition: box-shadow 0.3s;
  width: 100%;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 5px #303f9f;
}

form select {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1a237e;
  font-size: 1.2em;
  color: #1a237e;
  background-color: #fff;
  box-shadow: 0 0 5px #1a237e;
  transition: box-shadow 0.3s;
  width: 100%;
}

form select:focus {
  outline: none;
  box-shadow: 0 0 5px #303f9f;
}

form button {
  margin-top: 20px;
  background-color: #1a237e;
  /* Primary color: blue */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

form button:hover {
  background-color: #303f9f;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #1a237e;
  /* Primary color: blue */
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #1a237e;
  /* Primary color: blue */
  color: white;
}

table tr:nth-child(even) {
  background-color: #e8eaf6;
}

/* DisplayTranslations */
.translation-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.translation-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul li .active-link {
  font-weight: bold;
}

/* Button styles */

button {
  background-color: #1a237e;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #303f9f;
}

button:disabled {
  background-color: #9fa8da;
  cursor: default;
}

.prev-btn,
.next-btn {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.prev-btn:disabled,
button.next-btn:disabled {
  background-color: #9fa8da;
  cursor: default;
}

.add-new-translation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.translations-container {
  width: 100%;
  text-align: center;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-phrase-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.searchbar-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
}

.search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.display-translation-wrapper {

  border: 2px solid #1a237e;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.align-button {
  display: flex;
  align-items: center;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  main {
    max-width: 90%;
  }

  form input,
  form select,
  form button {
    width: 100%;
  }

  .translation-wrapper,
  .display-translation-wrapper {
    width: 100%;
  }
}